<header>
    <h1>Hà Nội triển khai dự án thành phố thông minh 4,2 tỷ USD</h1>
  </header>
  
  <main>
    <section class="summary">
      <img src="https://i1-vnexpress.vnecdn.net/2023/11/11/tha-p-ta-i-chi-nh-1342-1699684482.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=TNoETKvS8UlC_ppYlw361A">
      <p>Dự án thành phố thông minh Bắc Hà Nội (Smart City) diện tích hơn 270 ha, tổng mức đầu tư 4,2 tỷ USD, được công bố triển khai, sáng 11/11.</p>
    </section>
    <section class="detail">
      <h2>Tóm tắt</h2>
      <p>
        Dự án nằm trên địa bàn ba xã Hải Bối, Vĩnh Ngọc và Kim Nỗ của huyện Đông Anh do Công ty Cổ phần Đầu tư phát triển thành phố thông minh Bắc Hà Nội (NHSC) thực hiện. NHSC là liên doanh giữa Tập đoàn BRG (Việt Nam) và Tập đoàn Sumitomo (Nhật Bản).
      </p>
      <h2>Chi tiết</h2>
      <ul>
        <li>Vị trí: Dự án nằm trên địa bàn ba xã Hải Bối, Vĩnh Ngọc và Kim Nỗ của huyện Đông Anh, thành phố Hà Nội.</li>
        <li>Quy mô: Diện tích hơn 270 ha.</li>
        <li>Tổng mức đầu tư: 4,2 tỷ USD.</li>
        <li>Thời gian thực hiện: 9 năm với 5 giai đoạn.</li>
        <li>Chủ đầu tư: Công ty Cổ phần Đầu tư phát triển thành phố thông minh Bắc Hà Nội (NHSC).</li>
        <li>Loại hình dự án: Khu đô thị thông minh.</li>
      </ul>
      <p>
        Dự án thành phố thông minh Bắc Hà Nội có vị trí quan trọng, nằm tại chân cầu Nhật Tân, bờ Bắc sông Hồng, giữa cầu Thăng Long và cầu Long Biên, trên trục đường Võ Nguyên Giáp kết nối trung tâm thành phố và khu vực Hồ Tây tới Cảng hàng không quốc tế Nội Bài.
      </p>
      <p>
        Dự án được thực hiện theo 5 giai đoạn, trong đó 4 giai đoạn đầu khoảng 7 năm sẽ triển khai các hạng mục cây xanh, công trình công cộng, nhà ở, trường học các cấp, giao thông, bãi đỗ xe, công trình di tích, tôn giáo và các dự án riêng.
      </p>
      <p>
        Giai đoạn 5 từ cuối năm 2030 đến cuối 2032 triển khai nhiều công trình kiến trúc điểm nhấn, trong đó có Trung tâm tài chính, thương mại hỗn hợp cao 108 tầng.
      </p>
      <p>
        Phó chủ tịch UBND TP Hà Nội Dương Đức Tuấn cho hay dự án thành phố thông minh Bắc Hà Nội góp phần giải quyết được những vấn đề lớn về hạ tầng hiện nay của Thủ đô như giao thông, năng lượng, giáo dục, y tế, môi trường; đóng góp các tiêu chí đưa huyện Đông Anh thành quận và thành phố phía Bắc tương lai.
      </p>
      <p>
        Lãnh đạo Hà Nội đề nghị chủ đầu tư
      </p>
    </section>
  </main>
  