body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.news {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

article {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}

