body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Trong tệp styles.css */

#image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Thêm khoảng cách xung quanh ảnh */
    border-radius: 8px; /* Bo tròn góc của ảnh */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho ảnh */
}

/* Thêm định dạng cho phần #story nếu cần */
#image {
    text-align: center; /* Căn giữa nếu muốn */
}
